@tailwind base;
@tailwind components;
@tailwind utilities;


/*---------- FONTS ----------*/

@font-face {
    font-family: "DMSans-Medium";
    src: url("../fonts/DMSans-Medium.ttf") format("truetype");
    font-weight: regular;
    font-display: swap;
}

@font-face {
    font-family: "DMSans-Bold";
    src: url("../fonts/DMSans-Bold.ttf") format("truetype");
}

html,body,div,span,p,ul,li,ol,table,tr,td,th,form,fieldset,legend,input,textarea,select,button,blockquote,pre,code,dl,dt,dd,article,aside,head,header,footer,nav,section,figure,figcaption,canvas,video,audio{
    font-family: DMSans-Medium;
}

h1,h2,h3,h4,h5,h6{
    font-family: DMSans-Bold;
}

html,body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh !important;
}

.dm-sans {
    font-family: DMSans-Medium;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul.accordion {
    list-style-type: none;
    margin-left: 0px;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
}

table, thead, tbody, tfoot, tr, th, td {
    @apply text-base text-basic-black;
}

th:first-child, td:first-child {
    @apply pl-0;
}


.mySwiperSlides {
    position: relative;
}

h1 {
    @apply text-2xl md:text-3xl lg:text-5xl xl:text-7xl font-bold text-white;
}

h2 {
    @apply text-3xl xl:text-5xl font-bold text-white;
}

h3, h4 {
    @apply text-3xl sm:text-4xl font-bold text-white;
}

h5 {
    @apply text-xl xl:text-2xl font-bold text-basic-black;
}

h6 {
    @apply text-lg lg:text-xl xl:text-2xl font-bold text-basic-black;
}

p {
    @apply text-base lg:text-lg text-basic-black;
}

label {
    @apply text-sm lg:text-base text-brand-green;
}

a:hover {
    @apply opacity-80;
}

ul.accordion > li > button:hover {
    @apply opacity-80
}

:focus-visible {
    @apply outline-none;
}

select {
    padding-right: 2.5rem !important;
    height: 2.65rem;
}

input, select {
    @apply w-full rounded-md p-2 text-basic-black border border-brand-green placeholder:text-gray-400 focus:border-2 focus:border-brand-light-green;
}

/* input[type='radio']:before {
    @apply block w-3 h-3 bg-brand-green rounded-full content-center m-auto ring-inset ring-8 focus:ring-brand-green;
    content: '';
    display: none;  
} */

input[type="radio"] {
    @apply appearance-none w-4 h-3 border border-brand-green rounded-full relative;
}

input[type="radio"]:checked {
    @apply border-brand-light-green;
}

input[type="radio"]:checked::before {
    @apply block w-2 h-2 bg-brand-light-green rounded-full absolute inset-1/2 transform -translate-x-1/2 -translate-y-1/2;
    content: '';
}

input[type="checkbox"] {
    @apply appearance-none w-4 h-4 border-2 border-brand-green relative;
}

input[type="checkbox"]:checked {
    @apply border-brand-light-green bg-brand-light-green;
}

input[type="checkbox"]:checked::before {
    @apply block ml-0.5 mt-1 text-white absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 scale-50;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>');
}


/* Home slideshow arrows */

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: url("../../public/images/icon-chevron-left.svg") !important;
    width: 15px !important;
    height: 15px !important;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: url("../../public/images/icon-chevron-right.svg") !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 30px;
    color:#037856;
}

.panel {
    background-color: transparent;
    display: none;
}

.parent-div:hover {
    background-color: rgba(130, 173, 55, 0.2);
}

.parent-div:hover > div.first-flex > h3 {
    color: white;
}

.parent-div:hover > div.first-flex  {
    background-color: #037856;
}

.tab.flex.justify-center.active > .parent-div {
    background-color: rgba(130, 173, 55, 0.2);
}

.tab.flex.justify-center.active > .parent-div > div.first-flex > h3 {
    color: white;
}

.tab.flex.justify-center.active > .parent-div > div.first-flex  {
    background-color: #037856;
}

.app-form-tab::after {
    content: url("../../public/images/app-form-arrow-right.svg") !important;
    position: relative;
    left: 0.5rem;
}
.app-form-tab:nth-last-child(1)::after {
    content: none !important;
}

.select2-container--default .select2-selection--single  {
    display: flex;
    width: 100% !important;
    border: 0.5px solid;
    height:2.65rem;
    border-radius: 0.375rem;
    border: 1px solid !important;
    border-color: #037856 !important;
    background-color: #fff !important;
    padding: 0.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 2.65rem !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #037856 !important;
    color: white !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: left !important;
}

.mobi-date-filter {
    display: flex;
    width: 100% !important;
    border: 0.5px solid;
    height:2.65rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: #037856;
    padding: 0.5rem;
}

.mobi-date-filter:focus {
    border-width: 1px;
    border-color: #82AD37;
}

ul {
    @apply text-basic-black list-disc
}

.select2-container .select2-selection--single {
    height: 2.65rem !important;
}

div.text-white > p {
    color:#fff;
}

div.text-basic-black.text-sm > p {
    font-size: 0.875rem;
    line-height: 1.25rem;
}