header {
    background-color: transparent; /* Default background color */
    transition: background-color 0.3s ease;
}

@media (min-width: 768px) {
    /* Apply JavaScript-based background color change only for screens larger than 768px */
    .scrolled {
        background-color: #e6e5ff;
    }
}
