@keyframes slide-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-slide-left-infinite {
    animation: slide-left 30s linear infinite;
}

/* Pause animation on hover */
.group-hover\:animation-pause:hover .animate-slide-left-infinite {
    animation-play-state: paused;
}