  /* Default header background color */
  #heads {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  /* Background color change when scrolled */
  @media (min-width: 769px) {
    header.sticky #heads {
      background-color: #f7f7fc;
    }
  }

  @media (max-width: 768px) {
    /* Ensure header background color is consistent on smaller screens */
    #heads {
      background-color: #fbfbff;
    }
  }