{% extends "layout.html" %}
{% block head %}
<title>Update User Database</title>
{% endblock %}
{% block content %}
<div class="flex justify-center items-center mx-auto max-w-5x" style="height: 80vh;">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-center text-2xl font-bold mb-6">Update Form</h2>
        <form method="POST" action="{{ url_for('auth.edit_user', id=user.id) }}">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Full Name</label>
                <input type="text" id="username" name="username" value="{{ user.username }}"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                    required>
            </div>

            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                <input type="email" id="email" name="email" value="{{ user.email }}"
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                    required>
            </div>

            <div class="mb-4">
                <label for="is_admin" class="block text-sm font-medium text-gray-700">Is Admin</label>
                <input type="checkbox" id="is_admin" name="is_admin" {% if user.is_admin %}checked{% endif %}
                    class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
            </div>


            <div class="mt-6">
                <button type="submit"
                    class="w-full bg-indigo-600 text-white font-semibold py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    Update User
                </button>
            </div>

            <div class="mt-6">
                <a href="{{ url_for('views.home') }}">
                    <button
                        class="w-full bg-indigo-600 text-white font-semibold py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Home
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock %}